<?xml version="1.0"?>
<configuration>
  <!--Use audio energy level to 'guess' whether the reader starts speaking.
  0 = false, 1 = guess max one word ahead, 2=guess max two words ahead,...-->
  <initialLookAhead value="3"/>
  <!--If the audio energy level at or below this value, the system will consider the audio is
  not a speech (noise) and will not use look ahead feature-->
  <initialNoiseSensitivity value ="1"/>
  <!--For look ahead, the system will move one syllable ahead for every lookAheadDivider syllable
  value <=0 will disable guess ahead. value should be an integer -->
  <lookAheadDivider value="3"/>
  <!--The prototype will process a command speech when its confidence score is above the threshold. 
  confidence range 0 to 100-->
  <commandConfidenceThreshold value="70"/>
</configuration>
